#Stats, #StatusStats, #Activitylog
{
	background: var(--fui-background-foreground);
	border: 1px solid var(--fui-border-foreground);
	border-radius: var(--fui-border-radius-normal);
	margin: 0 0 10px 0;
	display: block;
	padding: var(--fui-padding-normal);
}

/* News items */

.NewsItem
{
	border: 1px solid var(--fui-border-foreground);
	padding: var(--fui-padding-normal);
	border-radius: var(--fui-border-radius-normal);
	margin-bottom: 10px;
}

div > .NewsItem:last-child
{
	margin-bottom: 0;
}

div > .NewsItem .Date
{
	font-weight: bold;
}

.FUISectionContent .Details
{
	max-width: 85%;
	width: 600px;	
}

.FUISectionContent .Details p
{
	margin: 0 0 10px 0;
}
