<tabpages>
	<tabs align="center">
		<tab>
			<span>Overview</span>
		</tab>
		<tab>
			<span>Subscriptions</span>
		</tab>
	</tabs>
	<pages>
		<page>
			<group>
				<columns>
					<column width="200px">
						<checkbox/>
					</column>
					<column width="calc(100% - 200px)">
					</column>
				</columns>
			</group>
		</page>
		<page>
			<p>
				Some other content.
			</p>
		</page>
	</pages>
</tabpages>

<script src="Progdir:Scripts/Classes/tabpages.fui.js"></script>
<link rel="stylesheet" href="Progdir:Scripts/Classes/tabpages.fui.css"/>

<script>
	FUI.initialize();
</script>
