<div class="ContentFull">
    <div id="Panels">
        <div id="PanelSide" class="Panel Menu SmoothScrolling ScrollArea">
            <div id="Modules">
            </div>
        </div>
        <div id="PanelMain" class="Panel Padding SmoothScrolling ScrollArea">
        </div>
    </div>
</div>
<link rel="stylesheet" href="Progdir:Templates/theme.css"/>
<link rel="stylesheet" href="Progdir:Templates/ui-classes.css"/>
<link rel="stylesheet" href="Progdir:Templates/admin.css"/>

<script src="Progdir:Scripts/ui-classes.js"></script>
<script src="Progdir:Scripts/ui.listview.js"></script>
<script src="Progdir:Scripts/ui.group.js"></script>
<script src="Progdir:Scripts/admin.js"></script>
