<div id="ControllerContainer" class="Padding"></div>

<script src="Progdir:Scripts/controller.js"></script>

<style>
	#ControllerContainer
	{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: auto;
	}
	
	#ControllerContainer table
	{
		width: 100%;
		background-color: var(--fui-background-foreground);
		padding: var(--fui-padding-normal);
		border-radius: var(--fui-border-radius-normal);
	}
	
	
	#ControllerContainer h2
	{
		background: var(--fui-menu-background);
		color: var(--fui-menu-color);
		padding: var(--fui-padding-normal);
		border-radius: var(--fui-border-radius-normal);
	}
	
	.cSum em
	{
		font-style: normal;
		font-weight: bold;
	}
	
	.cSubmitted.cCorrect
	{
		color: #00aa00;
	}
	
	.cSubmitted.cFlaw
	{
		color: #cc5500;
	}
	
	.cSubmitted.cError
	{
		color: #aa0000;
	}
	
	.cAnswer p:before
	{
		content: "\f10c";
		font-family: FontAwesome;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	
	.cSubmitted
	{
		font-weight: bold;
	}
	
	.cSubmitted p:before
	{
		content: "\f05d";
		font-family: FontAwesome;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	
	.cCorrect p:before
	{
		content: "\f00c";
		font-family: FontAwesome;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	
	.cNotCorrect p:before
	{
		content: "\f00d";
		font-family: FontAwesome;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	
	.cQuestion
	{
	}
	
	.cPage p:before
	{
		content: "\f0f6";
		font-family: FontAwesome;
		display: inline-block;
		margin: 0 10px 0 0;
	}	
	
	.cPage, .cResults
	{
		border-bottom: 1px solid var(--fui-border-color);
		margin-bottom: 10px;
	}
	
</style>

