
	<div class="HRow MarginBottom">
		<div class="HContent45 Ellipsis FloatLeft">
			<span>Name:</span>
		</div>
		<div class="HContent55 Ellipsis FloatLeft">
			<input type="text" class="FullWidth"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent45 Ellipsis FloatLeft">
			<span>Free navigation:</span>
		</div>
		<div class="HContent55 Ellipsis FloatLeft">
			<checkbox onchange="project_section_nav_change" uniqueid="project_section_nav_change"/>
		</div>
	</div>
	<div class="HRow BorderTop PaddingTop">
		<button type="button" class="FloatRight IconSmall fa-save">
			Save
		</button>
	</div>
