
<script src="Progdir:Scripts/Libraries/ckeditor5-build-inline/ckeditor.js"></script>
<script src="Progdir:Scripts/helpers.js"></script>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<div class="CcPanels">
	<div class="CcPanelSide">
		<div>
			<div class="ContentHeader">
	            <h3 id="IndexHeader">
	                Index
	            </h3>
	        </div>
	        <div class="ContentBlock">
	            <div id="index"></div>
	        </div>
		</div>
		<div>
			<div class="ContentHeader">
	            <h3>
	                Toolbox
	            </h3>
	        </div>
	        <div class="ContentBlock">
	        	<div id="toolbox"></div>
	        </div>
		</div>
		<div>
			<div class="ContentHeader">
	            <h3>
	                Properties
	            </h3>
	        </div>
	        <div class="ContentBlock">
	        	<div id="properties"></div>
	        </div>
		</div>
		<div>
			<div class="ContentHeader">
	            <h3>
	                Library
	            </h3>
	        </div>
	        <div class="ContentBlock">
	        	<div id="library"></div>
	        </div>
		</div>
	</div>
	<div class="CcPanelMain">
		<div>
			<div class="ContentHeader">
				<span>
					<h3>
					Active Section
					</h3>
					<span class="Right">
						<input type="button" id="viewButton" value="View"></input>
					</span>
				</span>
		    </div>
		    <div class="ContentBlock ContentMaxHeight">
		    	<div id="main"></div>
		    </div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="Progdir:Templates/theme.css"/>
<link rel="stylesheet" href="Progdir:Templates/main.css"/>
<script src="Progdir:Scripts/coursecreator.js"></script>
