
<script src="Progdir:Scripts/Libraries/ckeditor5-build-inline/ckeditor.js"></script>
<script src="Progdir:Scripts/helpers.js"></script>
<script src="Progdir:Scripts/element_base.js"></script>
<script src="Progdir:Scripts/element_ui_elements.js"></script>
<script src="Progdir:Scripts/Libraries/sortable/Sortable.js"></script>

<div class="CcPanels">
	<div class="CcPanelSide">
		<div class="Panel" id="PropertiesPanel" onclick="courseCreator.setActivePanel( this.id )">
			<div class="ContentHeader">
	            <h3>
	                Course properties
	            </h3>
	        </div>
	        <div class="ContentBlock">
	            <div class="HRow MarginBottom">
					<div class="HContent30 Ellipsis FloatLeft">
						<span>Name:</span>
					</div>
					<div class="HContent70 Ellipsis FloatLeft">
						<input type="text" class="FullWidth"/>
					</div>
				</div>
				<div class="HRow MarginBottom">
					<div class="HContent30 Ellipsis FloatLeft">
						<span>Published:</span>
					</div>
					<div class="HContent70 Ellipsis FloatLeft TextRight">
						<checkbox onchange="project_publish_change" uniqueid="project_publish_checkbox"/>
					</div>
				</div>
				<div class="HRow BorderTop PaddingTop">
					<button type="button" class="FloatRight IconSmall fa-save" id="saveProps">
						Save
					</button>
				</div>
	        </div>
		</div>
		<div class="Panel" id="SectionsPanel" onclick="courseCreator.setActivePanel( this.id )">
			<div class="ContentHeader">
	            <h3>
	                Index - <span id="ProjectName"></span></span>
	            </h3>
	        </div>
	        <div class="ContentBlock">
	            <div id="index"></div>
	        </div>
		</div>
		<div class="Panel" id="ToolboxPanel" onclick="courseCreator.setActivePanel( this.id )">
			<div class="ContentHeader">
	            <h3>
	                Toolbox
	            </h3>
	        </div>
	        <div class="ContentBlock">
	        	<div id="toolbox"></div>
	        </div>
		</div>
		<!--<div class="Panel" id="LibraryPanel" onclick="courseCreator.setActivePanel( this.id )">
			<div class="ContentHeader">
	            <h3>
	                Library
	            </h3>
	        </div>
	        <div class="ContentBlock">
	        	<div id="library"></div>
	        </div>
		</div>-->
	</div>
	<div class="CcPanelMain">
		<div>
			<div class="ContentHeader">
				<span>
					<h3>
					Active Section
					</h3>
					<div class="Right">
						<div id="pageSaveIndicator"></div>
						<button id="viewButton">View</button>
					</div>
				</span>
		    </div>
		    <div class="ContentBlock ContentMaxHeight">
		    	<div id="main"></div>
		    </div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="Progdir:Templates/theme.css"/>
<link rel="stylesheet" href="Progdir:Templates/main.css"/>
<script src="Progdir:Scripts/coursecreator.js"></script>
