<div class="CcPanels">
	<div class="CcPanelSide">
		<div>
			<div class="ContentHeader">
	            <h3>
	                Index
	            </h3>
	        </div>
	        <div class="ContentBlock">
	            <div id="index"></div>
	        </div>
		</div>
	</div>
	<div class="CcPanelMain">
		<div>
			<div class="ContentHeader">
				<span>
					<h3>
					Page
					</h3>
				</span>
		    </div>
		    <div class="ContentBlock ContentMaxHeight">
		    	<div id="main"></div>
		    </div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="Progdir:Templates/theme.css"/>
<link rel="stylesheet" href="Progdir:Templates/viewer.css"/>
<script src="Progdir:Scripts/helpers.js"></script>
<script src="Progdir:Scripts/courseviewer.js"></script>

