.chartBox
{
    position: relative;
    width : 150px;
    height: 200px;
    /*background-color: lightgrey;*/
    margin-right : 1em;
    text-align: center;
}

.chartBox > div:nth-child(3)
{
    font-weight: bold;
}

.chartBox > div:nth-child(4)
{
    position: absolute;
    top : 50px;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
}

.fuiStatsbox
{
    padding       : 0.5em;
    margin-right  : 1em;
    color         : white;
    height        : 7em;
    border-radius : 4px;
}

.statboxMain
{
    display         : flex;
    font-size       : 3em;
    justify-content : center;
}

.statboxMainStat
{
    
}

.statboxMainText
{
    font-size: 1.5em;
}

.statboxSub
{
    line-height: 1.3em;
}