<div class="VContentTop Padding ScrollArea" id="vt">
    <p> <strong>Discord Web Access</strong> </p>
    <p>
    	<b>Version</b>: 1.0<br>
    	<b>Build date</b>: 2019.02.24<br>
        <b>Author</b></i>: Craig Lindholm
    </p>
    <p>

    </p>
</div>
<div class="VContentBottom BorderTop BackgroundDefault Padding" id="vb">
    <p class="Layout">
        <button type="button" class="Button IconSmall fa-close" onclick="Application.sendMessage( { type: 'view', method: 'close' } )">&nbsp;Close</button>
    </p>
</div>
<style>
    #vt
    {
        bottom: 50px;
    }
    #vb
    {
        height: 50px;
    }
</style>