<style>
ul.a {
  list-style-position: outside;
}
</style>

<div class="VContentTop Padding ScrollArea" id="vt">
 	<p><strong>This web app will only work if the "Ignore X-Frame headers" extension is installed in Chrome based browsers. This is a global extension, and you need to research possible security risks to determine if you want to proceed.</strong></p>
   <p>
        <strong>Discord Web App</strong>
    </p>

    <p>
        A web application to access the <i>external</i> Discord Social Media site in a Friend Window
	<ul class="a">
		<li> A Discord account is required. Click <a href="https://discordapp.com/channels/" target="_blank" >here</a> to go to Discord and create a new account.</li>
	</ul>
	</p>
    
    <p>
    	<strong>Limitations</strong>
<ul class="a">
	<li></li>
    </p>
</ul>

</div>
<div class="VContentBottom BorderTop BackgroundDefault Padding" id="vb">
    <p class="Layout">
        <button type="button" class="Button IconSmall fa-close" onclick="Application.sendMessage( { type: 'view', method: 'close' } )">&nbsp;Close</button>
    </p>
</div>
<style>
    #vt
    {
        bottom: 50px;
    }
    #vb
    {
        height: 50px;
    }
</style>